<footer class="container container_column container_auto" style="justify-content: center">
  <div class="container container_column container_auto margin-b-10">
      <span class="font-title font-bold align-center"
            style="line-height: 69px; margin-bottom: 40px; text-align: center">По всем вопросам</span>
    <span class="color-secondary" style="text-align: center">
        г. Уфа, Республика Башкортостан
      </span>
    <p class="align-center container_auto" style="margin: 0 auto">
      <span class="color-secondary">Телефон: </span>
      <a href="tel:+79191592101" style="color: #7727DE">+7 (919) 159-21-01</a>
    </p>
  </div>
  <div class="container container_auto align-center" style="justify-content: center">
    <a href="https://instagram.com/simplexample.ru?igshid=YmMyMTA2M2Y=">
      <img src="../../../assets/Instagram.svg" class="contacts-icon button margin-r-5">
    </a>
    <a href="https://vk.com/simplexample02">
      <img src="../../../assets/Vkontakte.svg" class="contacts-icon button margin-r-5">
    </a>
    <a href="https://t.me/SimplExampleRu">
      <img src="../../../assets/Telegram.svg" class="contacts-icon button margin-r-5">
    </a>
  </div>
</footer>
