body
  background: #fff
  margin: 0
  padding: 0
  min-height: 100%
  height: 100%

  font-family: 'Ubuntu', sans-serif
  font-size: 24px
  line-height: 36px
  color: #000
  scroll-behavior: smooth

body::-webkit-scrollbar
  width: 12px


body::-webkit-scrollbar-track
  background-color: #e4e4e4
  border-radius: 100px


body::-webkit-scrollbar-thumb
  background-color: #666666

body::-webkit-scrollbar-thumb:hover
  background-color: #000

html
  height: 100%

.container
  display: flex

.container_auto
  flex-grow: 1

.container_column
  flex-direction: column

.align-center
  align-items: center

.font-bold
  font-weight: 700

.font-title
  font-size: 60px

.color-secondary
  color: #666666

.button
  cursor: pointer

.more-button
  text-decoration: none
  font-size: 24px
  color: #7727DE

.more-button:active
  text-decoration: none
  color: #7727DE

.gradient
  background: linear-gradient(180deg, #7727DE 0%, #2C00FF 100%)

.text-gradient
  color: linear-gradient(180deg, #7727DE 0%, #2C00FF 100%)

.text-colored
  color: #7727DE


.order-button
  color: #000
  background: #fff
  height: 58px
  width: 203px
  border-radius: 8px
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  line-height: 18px
  text-align: center
  letter-spacing: 0
  font-family: 'Ubuntu', sans-serif

.order-button:hover
  color: #fff
  background: linear-gradient(180deg, #7727DE 0%, #2C00FF 100%)
  border: none
  height: 58px
  width: 203px
  border-radius: 8px
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  line-height: 18px
  text-align: center
  letter-spacing: 0
  font-family: 'Ubuntu', sans-serif

.cancel-button
  color: #000
  height: 58px
  width: 142px
  border-radius: 8px
  border-color: rgba(0, 0, 0, 0)
  text-transform: uppercase
  font-size: 16px
  font-weight: 700
  line-height: 18px
  text-align: center
  letter-spacing: 0
  font-family: 'Ubuntu', sans-serif




.contacts-icon
  width: 64px
  height: 64px

.margin-r-1
  margin-right: 4px

.margin-l-1
  margin-left: 4px

.margin-t-1
  margin-top: 4px

.margin-b-1
  margin-bottom: 4px

.margin-r-2
  margin-right: 8px

.margin-l-2
  margin-left: 8px

.margin-t-2
  margin-top: 8px

.margin-b-2
  margin-bottom: 8px

.margin-r-3
  margin-right: 12px

.margin-l-3
  margin-left: 12px

.margin-t-3
  margin-top: 12px

.margin-b-3
  margin-bottom: 12px

.margin-r-4
  margin-right: 16px

.margin-l-4
  margin-left: 16px

.margin-t-4
  margin-top: 16px

.margin-b-4
  margin-bottom: 16px

.margin-r-5
  margin-right: 20px

.margin-l-5
  margin-left: 20px

.margin-t-5
  margin-top: 20px

.margin-b-5
  margin-bottom: 20px

.margin-r-6
  margin-right: 24px

.margin-l-6
  margin-left: 24px

.margin-t-6
  margin-top: 24px

.margin-b-6
  margin-bottom: 24px

.margin-r-7
  margin-right: 28px

.margin-l-7
  margin-left: 28px

.margin-t-7
  margin-top: 28px

.margin-b-7
  margin-bottom: 28px

.margin-r-8
  margin-right: 32px

.margin-l-8
  margin-left: 32px

.margin-t-8
  margin-top: 32px

.margin-b-8
  margin-bottom: 32px

.margin-r-9
  margin-right: 36px

.margin-l-9
  margin-left: 36px

.margin-t-9
  margin-top: 36px

.margin-b-9
  margin-bottom: 36px

.margin-r-10
  margin-right: 40px

.margin-l-10
  margin-left: 40px

.margin-t-10
  margin-top: 40px

.margin-b-10
  margin-bottom: 40px

.margin-b-60px
  margin-bottom: 60px

.margin-r-60px
  margin-right: 60px

.padding-r-1
  padding-right: 4px

.padding-l-1
  padding-left: 4px

.padding-t-1
  padding-top: 4px

.padding-b-1
  padding-bottom: 4px

.padding-r-2
  padding-right: 8px

.padding-l-2
  padding-left: 8px

.padding-t-2
  padding-top: 8px

.padding-b-2
  padding-bottom: 8px

.padding-r-3
  padding-right: 12px

.padding-l-3
  padding-left: 12px

.padding-t-3
  padding-top: 12px

.padding-b-3
  padding-bottom: 12px

.padding-r-4
  padding-right: 16px

.padding-l-4
  padding-left: 16px

.padding-t-4
  padding-top: 16px

.padding-b-4
  padding-bottom: 16px

.padding-r-5
  padding-right: 20px

.padding-l-5
  padding-left: 20px

.padding-t-5
  padding-top: 20px

.padding-b-5
  padding-bottom: 20px

.padding-r-6
  padding-right: 24px

.padding-l-6
  padding-left: 24px

.padding-t-6
  padding-top: 24px

.padding-b-6
  padding-bottom: 24px

.padding-r-7
  padding-right: 28px

.padding-l-7
  padding-left: 28px

.padding-t-7
  padding-top: 28px

.padding-b-7
  padding-bottom: 28px

.padding-r-8
  padding-right: 32px

.padding-l-8
  padding-left: 32px

.padding-t-8
  padding-top: 32px

.padding-b-8
  padding-bottom: 32px

.padding-8
  padding: 32px 32px 32px 32px

.padding-r-9
  padding-right: 36px

.padding-l-9
  padding-left: 36px

.padding-t-9
  padding-top: 36px

.padding-b-9
  padding-bottom: 36px

.padding-r-10
  padding-right: 40px

.padding-l-10
  padding-left: 40px

.padding-t-10
  padding-top: 40px

.padding-b-10
  padding-bottom: 40px
