<div class="container container_column" style="width: 1160px; justify-content: start; margin-top: 100px">
  <div class="container container_column" style="margin-bottom: 80px">
    <div class="container container_auto">
      <div class="container container_auto">
        <span class="font-title font-bold" style="line-height: 69px; margin-bottom: 40px">Частые вопросы</span>
      </div>
      <div class="container align-center margin-b-6 margin-l-6">
        <a href="faq" class="button more-button">
          Подробнее
        </a>
        <img src="../../../assets/arrow-back.svg" class="margin-l-2" style="transform: rotate(180deg)">
      </div>
    </div>
    <app-accordion>
      <app-accordion-group [title]="'Как проходит обучение?'" style="margin-bottom: 60px">
          <span class="color-secondary">
            Обучение происходит on-line. Лекционная часть выдается в формате видео-записей и методичек, после выполнения
            домашней работы осуществляется личная встреча с преподавателем в Zoom и разбор вопросов и ошибок по ДЗ.
            <br><br>
            В течении курса проводиться аттестация и контроль полученных знаний.
          </span>
      </app-accordion-group>
      <app-accordion-group [title]="'Почему нужно идти в IT?'" style="margin-bottom: 60px">
          <span class="color-secondary">
            <span style="color: #7727DE">It - это свобода.</span>
             Современный мир изменился.
            Работа в удаленном формате является нормой.
            Специалист it сферы сами выбирают где жить
            и где работать.
            <br><br>
            <span style="color: #7727DE">Заработная плата.</span>
             Специалисты it сферы входят в топ - 3
            самых высооплачиваемых отраслей в России.
            Отдельно стоит отметить скорость роста з/п, тут it удерживает первое место.
            Например, начинающий разработчик может получать 70 000 рублей, а через год,
            при должном развитии, может получать 150 000.
            <br><br>
            <span style="color: #7727DE">Цифровая трансформация.</span>
             Современные бизнес-процессы тесно связанны с it.
            Многие классические профессии становятся не актуальными или переходят в цифровую плоскость.
            Работая в it, можно быть уверенным, что Ваша специальность будет актуальна еще много лет.
            <br><br>
            <span style="color: #7727DE">It - это интересно и доступно.</span>
             Обучение it-профессиям не требует больших финансовых вложений.
            Существует большое количество бесплатных образовательных сайтов и лекций на YouTube.
            Платные курсы имеют лояльный прайс и часто предоставляют рассрочки.
            <br><br>
            <span style="color: #7727DE">It - это прогресс и культура.</span>
             Нет авторитарных стуктур.
            Работники рефлексируют по-поводу качества своей работы и применяют
            современные способы управления рабочими процессами.
            <br><br>
            <span style="color: #7727DE">C# универсален.</span>
             Можно использовать его для создания любого ПО:
            продвинутых бизнес-приложений, видеоигр, функциональных веб-приложений,
            приложений для Windows, macOS, мобильных программ для iOS и Android.
            <br><br>
            <span style="color: #7727DE">Java так же очень универсальна.</span>
             Лучше рассказать
            какие компании ее применяют, вот несколько примеров
          </span>
      </app-accordion-group>
      <app-accordion-group [title]="'Можно ли получить консультацию по вопросам IT?'" style="margin-bottom: 60px">
          <span class="color-secondary">
            Сфера it очень обширна, начинающему разработчику легко запутаться.
            Какое выбрать направление?
            Как пройти собеседование?
            Какую вакансию выбрать?
            Идти в большую компанию или стартап?
            Как составить резюме?
            Как грамотно оформить портфолио?
            <br><br>
            Все эти вопросы и любые другие, связанные с it.
            Вы можете задать мне в формате личной встречи в Zoom.
          </span>
      </app-accordion-group>
    </app-accordion>
  </div>
</div>
