.overlay
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: rgba(0, 0, 0, 0.48)
  backdrop-filter: blur(2px)
  transition: opacity 500ms
  z-index: 500

.popup
  top: 15%
  left: 25%
  padding: 40px
  background: #fff
  border-radius: 5px
  width: 45.42%
  position: relative
  transition: all 5s ease-in-out

.popup h2
  margin-top: 0
  color: #333
  font-family: Tahoma, Arial, sans-serif

.popup .close
  height: 22px
  user-select: none
  cursor: pointer
  position: absolute
  top: 30px
  right: 30px
  color: #666666

.popup .content
  color: #1c1c1c
  max-height: 30%
  overflow: auto

.modal-title
  font-size: 32px
  font-weight: 700
  line-height: 37px
  letter-spacing: 0

.modal-description
  font-size: 24px
  font-weight: 400
  line-height: 36px
  letter-spacing: 0

.modal-price
  font-size: 36px
  font-weight: 700
  line-height: 36px
  letter-spacing: 0
  background: linear-gradient(180deg, #7727DE 0%, #2C00FF 100%)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent



