<div class="overlay">
  <div class="popup">
    <a class="close" (click)="closeModal()"><img src="../../../../assets/close-cross.svg"/> </a>
    <div class="content">
      <div class="margin-b-6">
        <span class="modal-title ">Курс «{{name}}»</span>
      </div>
      <div class="margin-b-6">
        <span class="modal-description color-secondary">{{description}}</span>
      </div>
      <div class="margin-b-10 modal-description">
        <span style="font-weight: bold">Программа:</span> <br>
        <span *ngFor="let item of plan; let id = index" class="modal-description color-secondary">
          {{id + 1}}. {{item}}<br>
        </span>
      </div>
      <div class="margin-b-10 modal-description">
        <span style="font-weight: bold">Состав:</span> <br>
        <span *ngFor="let item of composition; let id = index" class="modal-description color-secondary">
          {{id + 1}}. {{item}}<br>
        </span>
      </div>
      <div class="margin-b-10 modal-price">
        <span>Цена: {{price}} рублей</span>
      </div>
      <form>
        <input type="button" class="button gradient order-button" onclick="window.location.href='https://t.me/SimplExampleRu';" value="Записаться на курс" />
      </form>
    </div>
  </div>
</div>
