<div class="container_column container container_auto">
  <div *ngFor="let article of articles" style="margin-bottom: 100px">
    <h1 style="margin-top: 0" class="margin-b-10">{{article.title}}</h1>
    <img src="{{article.imgSource}}" alt="" class="article-img">
    <div class="margin-t-10 color-secondary margin-b-10">{{article.text}}</div>
    <strong class="">Автор: {{article.author}}</strong>
    <div class="container container_auto margin-t-6" style="border-bottom: 1px solid #666666">
      &#8203;
    </div>
  </div>
</div>
