<div class="container container_column" style="margin-top: 7rem">
  <div class="container container_auto">
    <div class="container container_auto">
      <span class="font-title font-bold" style="line-height: 69px; margin-bottom: 40px">Статьи</span>
    </div>
    <div class="container align-center margin-b-6 margin-l-6">
      <a href="articles" class="button more-button">
        Все статьи
      </a>
      <img src="../../../assets/arrow-back.svg" class="margin-l-2" style="transform: rotate(180deg)">
    </div>
  </div>
</div>
<div class="container container_auto margin-t-10">
  <app-article-item [article]="articles[0]" class="margin-r-10"></app-article-item>
  <app-article-item [article]="articles[1]" class="margin-r-10"></app-article-item>
  <app-article-item [article]="articles[2]"></app-article-item>
</div>
