<div class="container container_auto category" (click)="toggle.emit()">
  <div class="container align-center" style="width: 1160px; height: 100px; border-top: 1px #666666 solid">
    <span style="font-size: 24px; font-weight: 700; line-height: 36px; letter-spacing: 0">
      {{title}}
    </span>
    <div class="container_auto"></div>
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" [@arrowRotate]="!opened ? 'default' : 'rotated'" class="margin-r-6">
      <path [class.icon-cross]="opened" d="M26.6666 16H5.33329 M16 5.33301V26.6663" stroke="#666666" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
  </div>
</div>
<div [@smoothCollapse]="!opened ? 'initial' : 'final'" [class.margin-b-60px]="opened" style="width: 960px">
  <ng-content></ng-content>
</div>
