<div class="container_column container container_auto" style="width: 1200px">
  <div *ngFor="let course of courses" style="margin-bottom: 100px">
    <h1 style="margin-top: 0" class="margin-b-10">{{course.name}}</h1>
    <div class="margin-t-10 color-secondary margin-b-10">{{course.description}}</div>
    <div>
      <strong>Программа:</strong>
      <ul>
        <li *ngFor="let planItem of course.plan" class="color-secondary">{{planItem}}</li>
      </ul>
    </div>
    <div class="margin-t-10 margin-b-10">
      <strong>Состав:</strong>
      <ul>
        <li *ngFor="let compItem of course.composition" class="color-secondary">{{compItem}}</li>
      </ul>
    </div>
    <div class="margin-t-10 color-secondary margin-b-10">{{course.subDesc}}</div>
    <div class="container container_auto">
      <div class="container_auto container">
        <strong class="text-colored">Цена: {{course.price}} рублей</strong>
      </div>
      <div>
        <form>
          <input type="button" class="button gradient order-button" onclick="window.location.href='https://t.me/SimplExampleRu';" value="Записаться на курс" />
        </form>
      </div>
    </div>
    <div class="container container_auto margin-t-6" style="border-bottom: 1px solid #666666">
      &#8203;
    </div>
  </div>
</div>
