<div style="margin-top: 5rem; flex-direction: row" class="container">
  <div class="container container_column" style="margin-top: 7rem; width: 60%">
    <div class="font-title font-bold" style="line-height: 69px; margin-bottom: 32px">
      <span>Школа программирования </span>
      <span style="color: #7727DE">Simpl</span>
      <span>Example</span>
    </div>
    <span class="color-secondary">авторские курсы после которых легко найти работу</span>
    <button class="button gradient order-button" style="margin-top: 56px" (click)="scrollToElement('ourCourses')">
      Выбрать курс
    </button>
    <!--    (click)="scrollToElement('ourCourses')-->
  </div>
  <div style="margin-left: 110px; width: 40%">
    <img src="../../../assets/photo.svg">
  </div>
</div>
<div class="container container_column" style="margin-top: 180px" id="ourCourses">
  <app-main-page-courses-section></app-main-page-courses-section>
</div>
<div style="margin-top: 100px" class="container container_column" id="about">
  <app-main-page-about-section></app-main-page-about-section>
</div>
<!--<div style="margin-top: 240px" class="container container_column" id="articles">-->
<!--  <app-main-page-articles-section></app-main-page-articles-section>-->
<!--</div>-->
<div style="margin-top: 100px" id="faq">
  <app-main-page-faq-section></app-main-page-faq-section>
</div>
<app-order-modal *ngIf="isModalOpened"></app-order-modal>
