<div class="container container_column" style="width: 1160px; justify-content: start; margin-top: 100px">
  <div class="container container_column" style="margin-bottom: 80px">
    <img style="height: 750px; margin-top: -120px;
 width: auto;" src="../../../assets/about-main-3.svg">
    Школа программирования и разработки SimplExample - это желание создать в Уфе качественые курсы
    по разработке программного обеспечения, а так же место, в котором люди могли бы получить
    профессиональную консультацию в IT-сфере.
    <br>
    <br>
    Я являюсь руководителем группы разработки в крупной IT компании , обладаю
    глубокими знаниями  в программированиии, имею понимание как устроенная сфера IT.
    Собеседовал большое количество людей и знаю как пройти интервью успешно.
    Участвовал в разработке большого количества проектов и знаю как должен выглядеть хороший код.
    <br>
    <br>
    Я помогу не только тем, кто только начинает путь в IT, но и опытным специалистам,
    которые хотят развиваться, расскажу про принципы командной разработки.
    <br>
    <br>
    Будет предоставлена возможность поучаствовать в реальных проектах и оформить портфолио.
    Вы можете взять 1 консультацию или курс, гибкий подход для каждого человека.
    IT - это не мечта, это вполне достижимая цель, которую я помогу Вам исполнить.
  </div>
</div>
