<img src="../assets/article-image-1.svg">
<div class="container container_auto container_column">
  <strong>{{article.title}}</strong>
  <p class="color-secondary margin-t-3 margin-b-3 line-clamp">
    {{article.text}}
  </p>
  <a *ngIf="fullPage" class="more-link" href="articles/1">Читать...</a>
</div>
