\:host
  width: 360px

  .more-link
    display: flex
    align-items: center
    cursor: pointer
    font-size: 24px
    text-decoration: underline
    background: linear-gradient(180deg, #7727DE 0%, #2C00FF 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: #7727DE

  .line-clamp
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    overflow: hidden
