<div class="container container_column" style="margin-top: 7rem">
  <div class="container">
    <div class="container container_auto">
      <div class="container container_auto">
        <span class="font-title font-bold" style="line-height: 69px; margin-bottom: 40px">О преподавателе</span>
      </div>
      <div class="container align-center margin-b-6 margin-l-6">
        <a href="about" class="button more-button">
          Подробнее
        </a>
        <img src="../../../assets/arrow-back.svg" class="margin-l-2" style="transform: rotate(180deg)">
      </div>
    </div>
  </div>
  <p class="color-secondary" style="width: 1060px">
    <span style="color: #000">Меня зовут Артём - </span>
    <span>я автор курсов, и руководитель школы </span>
    <span style="color: #7727DE">SimplExample 👋</span>
    <span>Наша школа программирования и разработки – это желание создать в Уфе качественные курсы по разработке ПО, а также место, в котором люди могли бы получить профессиональную консультацию в IT-сфере.</span>
    <br>
    <span style="color: #000"><br>Почему я могу преподавать?</span>
    <br>
    <span><br>Я являюсь teamlead комады разработки в компании Газпромнефть-Цифровые решения и преподавателем портала Geekbrains. </span>
    <span>Знаю и понимаю в разработке ПО, а так же как эти знания донести. </span>
    <span>Собеседовал большое количество людей и знаю
        как пройти интервью успешно. </span>
    <span>Являюсь автором статей на хабре. Моя последняя статья которую я взял из рабочего примера.
      <p><a href="https://habr.com/ru/post/659545/">Как настроить интеграцию между Kafka и RabbitMQ</a></p>
    </span>
    <span>Участвую в конферециях в качестве спикера, последнее мое выступление состоялось на <span style="color: #000">UFADEVCONF2022</span> </span>
  </p>
</div>
<div class="container margin-t-6">
  <iframe width="1160px" height="623px" src="https://www.youtube.com/embed/8XWxu4PNqrM" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; c
            lipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
