<header class="container container_auto align-center">
  <div style="cursor: pointer" (click)="scrollToElement('up')">
    <span class="margin-l-6" style="color: #7727DE">Simpl</span>
    <span>Example</span>
  </div>
  <div class="container_auto tabs">
    <div *ngIf="currentLink === '/'">
      <span class="margin-r-60px tab" (click)="scrollToElement('ourCourses')">
        Наши курсы
      </span>
        <span class="margin-r-60px tab" (click)="scrollToElement('about')">
        О преподавателе
      </span>
<!--        <span class="margin-r-60px tab" (click)="scrollToElement('articles')">-->
<!--        Статьи-->
<!--      </span>-->
        <span class="margin-r-60px tab" (click)="scrollToElement('faq')">
        Частые вопросы
      </span>
        <span class="tab" (click)="scrollToElement('contacts')">
        Контакты
      </span>
    </div>
    <span *ngIf="currentLink === '/courses'" class="color-secondary">
      Наши курсы
    </span>
    <span *ngIf="currentLink === '/articles'" class="color-secondary">
      Статьи
    </span>
    <span *ngIf="currentLink === '/about'" class="color-secondary">
      О преподавателе
    </span>
    <span *ngIf="currentLink === '/faq'" class="color-secondary">
      Частые вопросы
    </span>
  </div>
  <img src="../../assets/call.svg" class="contacts-icon button margin-r-8">
  <a class="margin-r-6"  href="tel:+79191592101" style="color: #7727DE">+7 (919) 159-21-01</a>
<!--  <img src="../../assets/mail.svg" class="footer-icon button margin-r-8">-->
<!--  <img src="../../assets/paper-plane.svg" class="footer-icon button margin-r-6">-->
</header>
