\:host
  display: flex
  flex-grow: 0
  flex-shrink: 0
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  background: #fff

  height: 84px
  align-items: center
  box-shadow: 0px -1px 0px 0px #0000001F inset

.contacts-icon
  width: 22px
  height: 22px

.burger-menu-icon
  width: 32px
  height: 32px

.tabs
  display: flex
  justify-content: center

.tab
  color: #666666
  cursor: pointer

.back-button
  display: flex
  align-items: center
  cursor: pointer
  font-size: 20px
  color: #7727DE
