<div (click)="openModal()" class="container container_column tile padding-8" style="height: 100%">
  <div class="margin-b-5 font-bold">
  <span>
    {{ title }}
  </span>
  </div>
  <span class="color-secondary">
  {{subDesc}}
</span>
  <div class="container align-center difficulty-wrapper">
    <div class="difficulty-level-point margin-r-3"
         [class.difficulty-level-beginner]="difficulty === Difficulty.Beginner"
         [class.difficulty-level-advanced]="difficulty === Difficulty.Advanced"
         [class.difficulty-level-professional]="difficulty === Difficulty.Professional"
    ></div>
    <div class="difficulty-title color-secondary" *ngIf="difficulty === Difficulty.Beginner">начинающий</div>
    <div class="difficulty-title color-secondary" *ngIf="difficulty === Difficulty.Advanced">продвинутый</div>
    <div class="difficulty-title color-secondary" *ngIf="difficulty === Difficulty.Professional">профессионал</div>
  </div>
</div>
