\:host
  display: flex
  flex-direction: column
  position: relative
  height: 100%


  .tile
    box-sizing: border-box
    background: rgba(255, 255, 255, 0.08)
    border-radius: 8px
    cursor: pointer
    box-shadow: 0 4px 30px 0 #00000029
  .tile:hover
    background: linear-gradient(180deg, #7727DE 0%, #2C00FF 100%)
    color: #fff
    ::ng-deep .color-secondary
      color: #fff

  .difficulty-wrapper
    position: absolute
    bottom: 32px

  .difficulty-level-point
    height: 16px
    width: 16px
    border-radius: 50%

  .difficulty-level-beginner
    background: #00CE26

  .difficulty-level-advanced
    background: #FFBF00

  .difficulty-level-professional
    background: #FF5E4C

  .difficulty-title
    font-weight: 700
    font-size: 16px
    line-height: 18px
    text-transform: uppercase
