\:host
  display: flex
  flex-grow: 1
  height: 100%
  flex-direction: column
  align-items: center

  .page-content
    margin-top: 164px

  .breadcrumbs
    margin-top: 164px
    width: 1200px
    opacity: .5
