<app-header></app-header>
<!--<app-main-page id="up" class="main-page"></app-main-page>-->
<div *ngIf="currentLink !== '/'" class="container container_auto breadcrumbs color-secondary">
  <div *ngFor="let crumb of breadcrumbs">
    <span class="margin-r-3 button" routerLink="">{{crumb.title}}</span>
    <span>></span>
  </div>
</div>
<div class="margin-t-10">
  <router-outlet></router-outlet>
</div>
<app-footer style="margin-bottom: 200px" id="contacts"></app-footer>
