<div class="container container_column" style="margin-top: 100px; justify-content: start">
  <div class="container container_column" style="margin-bottom: 80px">
    <div class="container container_auto">
      <div class="container container_auto">
        <span class="font-title font-bold" style="line-height: 69px; margin-bottom: 40px">Курсы</span>
      </div>
      <div class="container align-center margin-b-6 margin-l-6">
        <a href="courses" class="button more-button">
          Подробнее
        </a>
        <img src="../../../assets/arrow-back.svg" class="margin-l-2" style="transform: rotate(180deg)">
      </div>
    </div>
    <span class="color-secondary" style="width: 960px">
        Все программы обучения в SimplExample индивидуальны. Если вы сомневаетесь или у вас есть вопросы по обучению,
        вы можете получить бесплатную первичную консультацию. Просто напишите в директ.
      </span>
  </div>
</div>
<div class="container">
  <div class="container container_column margin-r-10" style="flex: 2; max-width: 760px">
    <app-tile class="long-tile margin-b-10"
              [title]="courses[0].name"
              [description]="courses[0].description"
              [subDesc]="courses[0].subDesc"
              [price]="courses[0].price"
              [plan]="courses[0].plan"
              [composition]="courses[0].composition"
              [difficulty]="courses[0].difficulty"></app-tile>
    <div class="container">
      <div class="container container_column">
        <app-tile class="small-tile margin-b-10"
                  [title]="courses[1].name"
                  [description]="courses[1].description"
                  [subDesc]="courses[1].subDesc"
                  [price]="courses[1].price"
                  [plan]="courses[1].plan"
                  [composition]="courses[1].composition"
                  [difficulty]="courses[1].difficulty"></app-tile>
        <app-tile class="small-tile margin-b-10"
                  [title]="courses[2].name"
                  [description]="courses[2].description"
                  [subDesc]="courses[2].subDesc"
                  [price]="courses[2].price"
                  [plan]="courses[2].plan"
                  [composition]="courses[2].composition"
                  [difficulty]="courses[2].difficulty"></app-tile>
      </div>
      <app-tile class="tall-tile margin-b-10 margin-l-10"
                [title]="courses[3].name"
                [description]="courses[3].description"
                [subDesc]="courses[3].subDesc"
                [price]="courses[3].price"
                [plan]="courses[3].plan"
                [composition]="courses[3].composition"
                [difficulty]="courses[3].difficulty"></app-tile>
    </div>
    <app-tile class="full-tile margin-b-10"
              [title]="courses[4].name"
              [description]="courses[4].description"
              [subDesc]="courses[4].subDesc"
              [price]="courses[4].price"
              [plan]="courses[4].plan"
              [composition]="courses[4].composition"
              [difficulty]="courses[4].difficulty"></app-tile>
  </div>
  <div class="container container_column" style="flex: 1">
    <app-tile class="small-tile margin-b-10"
              [title]="courses[5].name"
              [description]="courses[5].description"
              [subDesc]="courses[5].subDesc"
              [price]="courses[5].price"
              [plan]="courses[5].plan"
              [composition]="courses[5].composition"
              [difficulty]="courses[5].difficulty"></app-tile>
    <app-tile class="small-tile margin-b-10"
              [title]="courses[6].name"
              [description]="courses[6].description"
              [subDesc]="courses[6].subDesc"
              [price]="courses[6].price"
              [plan]="courses[6].plan"
              [composition]="courses[6].composition"
              [difficulty]="courses[6].difficulty"></app-tile>
    <app-tile class="small-tile margin-b-10"
              [title]="courses[7].name"
              [description]="courses[7].description"
              [subDesc]="courses[7].subDesc"
              [price]="courses[7].price"
              [plan]="courses[7].plan"
              [composition]="courses[7].composition"
              [difficulty]="courses[7].difficulty"></app-tile>
  </div>
</div>
